body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;

}
h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}


/* Error 404 Page */
.error .header {
    font-size: 2rem;
}
.error .img {
    font-size: 3rem;
}
.nav-item {
    text-align: right;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: #40A798;
}
.navbar-img {
    width: 40px;
    height: 40px;
}
/* Pink Sections */
.soft-color {
    background-color: #F5E1DA;
    color: #40A798;
}
/* White Sections */
.off-white {
    background-color: #F1F1F1;
    color: #476269;
    padding: 50px 0px 50px;

}
/* Title Section */
.title {
    padding: 20px 0px 60px
}
.title-img {
    max-width: 600px;
}

/* About Section */
.about {
    padding: 40px 40px;
}
.self-img {
    max-width: 400px;
    padding-top: 50px;
}
/* Projects Section */
#projects-carousel {
    background-color: #E2BCB7;
    color: #5B6D5B;
    height: 500px;
    width: auto;
}
#projects .image {
    max-width: 300px;
    margin: 20px auto;
    border-radius: 50%;
}
.project-heading {
    font-family: 'Courgette', cursive;
    text-align: center;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 40px;
}
.project-text p{
    text-align: center;
    line-height: 1.5;
    font-size: 1.25rem;
    margin: 15px 25%;
}
/* Skills Section */

.skill-column {
    padding-right: 15%;
}
.skill-column h4 {
    margin-top: 20px;
}
.resume-button {
	background:linear-gradient(to bottom, #40a798 5%, #476269 100%);
	background-color:#40a798;
	border-radius:42px;
	border:5px solid #3d7d73;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:22px;
	padding:23px 29px;
	text-decoration:none;
	text-shadow:-1px 10px 16px #2b3347;
}
.resume-button:hover {
	background:linear-gradient(to bottom, #476269 5%, #40a798 100%);
	background-color:#476269;
	text-decoration:none;
}
.resume-button:active {
	position:relative;
	top:1px;
}
.button-container {
    padding: 30px;
}

/* Footer Section */
.footer-icon {
	margin: 20px 20px;
	width: 20px;
	height: 20px;
}
#footer p {
    margin-bottom: 0;
    padding: 1.25rem;
}
.contact-button {
	background-color:#40a798;
	border-radius:16px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	padding:9px 19px;
	text-decoration:none;
	text-shadow:-1px 10px 16px #2b3347;
}
.contact-button:hover {
	background-color:#476269;
	text-decoration:none;
}
.contact-button:active {
	position:relative;
	top:1px;
}
/* Media Queries */
@media (max-width: 990px) {
    .skill-column h4 {
    text-align: center;
    font-size: 1rem;
    }
    .project-text p{
    font-size: 1rem;
    display: table-footer-group;}
}
/* Project Page */
.project-body {
    margin-right: 0px;
    padding-right: 15px;
}
.project-text {
    padding-left: 20px;
    padding-right: 20px;
}
/* Contact Page */
.contact-form {
    padding: 30px;
}